*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{
text-align: center;
}
h1{
    font-family: 'Anton', sans-serif;
}
.ara{
    font-family: 'Climate Crisis', cursive;
text-align: center;
}
.ara2{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.ara3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.ara4{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.ara5{
    font-family: 'Rubik Iso', cursive;
    text-align: center;
}
